
<!-- cards -->
<div class="card">
	<mat-card>
		<app-cards
		bg="red"
		icon="home"
		content="Admissions"
		total="2000"
		></app-cards>
	</mat-card>
	

	<mat-card>
		<app-cards
		bg="yellow"
		icon="group"
		content="employees"
		total="100"
		></app-cards>
	</mat-card>

	<mat-card>
		<app-cards
		bg="green"
		icon="home"
		content="Placements"
		total="4000"
		></app-cards>
	</mat-card>

	<mat-card>
		<app-cards
		bg="blue"
		icon="person"
		content="fees"
		total="20000"
		></app-cards>
	</mat-card>
</div>


<!-- pie chart -->
<div class="area">
	<app-area-chart></app-area-chart>
</div>

<div class="parent">
	<!-- table -->
	<div>
		<app-table></app-table>
	</div>

	<!-- pie chart -->
	<div>
		<app-pie-chart></app-pie-chart>
	</div>
</div>