<div id="admin">
	<img src="https://w7.pngwing.com/pngs/312/283/png-transparent-man-s-face-avatar-computer-icons-user-profile-business-user-avatar-blue-face-heroes-thumbnail.png" alt="">
	<h1>Sharon</h1>
	<h4>sharon@gmail.com</h4>
</div>

<mat-divider></mat-divider>

<h3>pages</h3>
<div class="pages">
	
	<a routerLink="">Dashboard</a>
	<a routerLink="gallery">Gallery</a>
	<a routerLink="employees">Employees</a>
</div>

<h3>Tools</h3>
<div class="pages">
	
	<a routerLink="add-employee"><span class="material-icons">add</span>Add Employee</a>
	<a routerLink="lead-employee"><span class="material-icons">person</span>Lead</a>
</div>

